<div class="col-lg-6 offset-sm-2">
  <app-alert></app-alert>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div class="card">
    <div class="card-header">
      Customer Registration
    </div>

    <div class="card-body">
      <form (ngSubmit)="save()" [formGroup]="customerForm" novalidate>
        <div class="form-group row mb-2">
          <label class="col-md-4 col-form-label pt-0">Customer Status</label>
          <div class="col-md-4">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  formControlName="customerStatus"
                  id="csId"
                  type="radio"
                  value="Active"
                />
                Active
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  formControlName="customerStatus"
                  id="customerStatusId"
                  type="radio"
                  value="InActive"
                />
                InActive
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="firstNameId">First Name</label
          >
          <div class="col-md-4">
            <input
              [ngClass]="{
                'is-invalid':
                  (customerForm.get('customerName').touched ||
                    customerForm.get('customerName').dirty) &&
                  !customerForm.get('customerName').valid
              }"
              class="form-control"
              formControlName="customerName"
              id="firstNameId"
              placeholder="First Name and user name are same (required)"
              type="text"
            />
            <span class="invalid-feedback">
              <span *ngIf="customerForm.get('customerName').errors?.required">
                Please enter your first name.
              </span>
              <span *ngIf="customerForm.get('customerName').errors?.minlength">
                The first name must be longer than 3 characters.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="middleNameId"
          >Middle Name</label
          >
          <div class="col-md-4">
            <input
              [ngClass]="{
                'is-invalid':
                  (customerForm.get('middleName').touched ||
                    customerForm.get('middleName').dirty) &&
                  !customerForm.get('middleName').valid
              }"
              class="form-control"
              formControlName="middleName"
              id="middleNameId"
              placeholder="Middle Name (required)"
              type="text"
            />
            <span class="invalid-feedback">
              <span *ngIf="customerForm.get('middleName').errors?.required">
                Please enter your last name.
              </span>
              <span *ngIf="customerForm.get('middleName').errors?.maxlength">
                The Midle Name name must be less than 3 characters.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="lastNameId"
          >Last Name</label
          >
          <div class="col-md-4">
            <input
              [ngClass]="{
                'is-invalid':
                  (customerForm.get('lastName').touched ||
                    customerForm.get('lastName').dirty) &&
                  !customerForm.get('lastName').valid
              }"
              class="form-control"
              formControlName="lastName"
              id="lastNameId"
              placeholder="Last Name (required)"
              type="text"
            />
            <span class="invalid-feedback">
              <span *ngIf="customerForm.get('lastName').errors?.required">
                Please enter your last name.
              </span>
              <span *ngIf="customerForm.get('lastName').errors?.maxlength">
                The last name must be less than 50 characters.
              </span>
            </span>
          </div>
        </div>
        <div formArrayName="address">
          <div *ngFor="let address of f; let i = index" [formGroupName]="i">
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0">Address Type</label>
              <div class="col-md-4">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="addressType"
                      id="addressType1Id"
                      type="radio"
                      value="home"
                    />
                    Home
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="addressType"
                      id="addressType1Id"
                      type="radio"
                      value="work"
                    />
                    Work
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="addressType"
                      id="addressType1Id"
                      type="radio"
                      value="other"
                    />
                    Other
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label attr.for="{{ 'dnoId' + i }}" class="col-md-2 col-form-label">Door Number</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (address.controls.doorNumber.touched ||
                        address.controls.doorNumber.dirty) &&
                      !address.controls.doorNumber.valid
                  }"
                  class="form-control"
                  formControlName="doorNumber"
                  id="{{ 'dnoId' + i }}"
                  placeholder="Door Number (required)"
                  type="text"
                />
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.doorNumber.errors?.required">
                    Please enter your door number.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label attr.for="{{ 'lmId' + i }}" class="col-md-2 col-form-label"
              >Land Mark</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (address.controls.landMark.touched ||
                        address.controls.landMark.dirty) &&
                      !address.controls.landMark.valid
                  }"
                  class="form-control"
                  formControlName="landMark"
                  id="{{ 'lmId' + i }}"
                  placeholder="Land Mark (required)"
                  type="text"
                />
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.landMark.errors?.required">
                    Please enter your Land Mark.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label
                attr.for="{{ 'streetId' + i }}"
                class="col-md-2 col-form-label"
              >Street Address
              </label>
              <div class="col-md-4">
                <input [ngClass]="{
                    'is-invalid':
                      (address.controls.street.touched ||
                        address.controls.street.dirty) &&
                      !address.controls.street.valid
                  }" class="form-control" formControlName="street"
                       id="{{ 'streetId' + i }}" placeholder="Street address (required)" type="text"/>
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.street.errors?.required">
                    Please enter your street address.
                  </span>
                        </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label attr.for="{{ 'cityId' + i }}" class="col-md-2 col-form-label">City
              </label>
              <div class="col-md-4">
                <input [ngClass]="{
                    'is-invalid':
                      (address.controls.city.touched ||
                        address.controls.city.dirty) &&
                      !address.controls.city.valid
                  }" class="form-control" formControlName="city" id="{{ 'cityId' + i }}"
                       placeholder="Street address (required)" type="text"/>
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.city.errors?.required">
                    Please enter your City .
                  </span>
                        </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="stateId">State</label>
              <div class="col-md-4">
                <select class="form-control" formControlName="state" id="{{ 'stateId' + i }}">
                  <option disabled hidden selected value=""
                  >Select a State...
                  </option
                  >
                  <option value="AP">AP</option>
                  <option value="TS">TS</option>
                  <option value="KA">KA</option>
                </select>
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.state.errors?.range">
                    Please select your county from dropdown.
                  </span>
                        </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="countryId">Country</label
              >
              <div class="col-md-4">
                <select
                  class="form-control"
                  formControlName="country"
                  id="{{ 'countryId' + i }}"
                >
                  <option disabled hidden selected value=""
                  >Select a Country...
                  </option
                  >
                  <option value="IN">IND</option>
                  <option value="US">US</option>
                  <option value="UK">UK</option>
                </select>
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.country.errors?.range">
                    Please select your county from dropdown.
                  </span>
                </span>
              </div>
            </div>
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="pincodeId"
              >Pin Code</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (address.controls.pinCode.touched ||
                        address.controls.pinCode.dirty) &&
                      !address.controls.pinCode.valid
                  }"
                  class="form-control"
                  formControlName="pinCode"
                  id="pincodeId"
                  placeholder="Pin Code"
                  type="number"
                />
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.pinCode.errors?.required">
                    Please enter your pincode.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button
              (click)="addAddress()"
              [disabled]="!addresses.valid"
              [title]="
                addresses.valid
                  ? 'Add another mailing address'
                  : 'Disabled until the existing address data is valid'
              "
              class="btn btn-outline-primary"
              type="button"
            >
              Add Another Address
            </button>
          </div>

          <div class="col-md-4">
            <button
              (click)="removeAddresses()"
              *ngIf="addresses.length > 1"
              class="btn btn-danger"
            >
              Remove
            </button>
          </div>
        </div>

        <div formArrayName="email">
          <div *ngFor="let email of e; let i = index" [formGroupName]="i">
            <div class="form-group row mb-2">
              <div class="col-md-8">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="isPrimaryEmail"
                      id="isPrimaryEmailId"
                      type="checkbox"
                    />Is Primary Email
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0">Email Type</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="emailType"
                      id="emailType1Id"
                      type="radio"
                      value="home"
                    />
                    office
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="emailType"
                      id="emailType1Id"
                      type="radio"
                      value="work"
                    />
                    Personal
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="emailType"
                      id="email1Id"
                      type="radio"
                      value="other"
                    />
                    Other
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label attr.for="{{ 'emailId' + i }}" class="col-md-2 col-form-label">Email
              </label>
              <div class="col-md-4">
                <input [ngClass]="{
                    'is-invalid':
                      (email.controls.emailAddress.touched ||
                        email.controls.emailAddress.dirty) &&
                      !email.controls.emailAddress.valid
                  }" class="form-control" formControlName="emailAddress"
                       id="{{ 'emailAddressId' + i }}" placeholder="Email address (required)" type="email"/>

                <span class="invalid-feedback">
                  <span *ngIf="email.controls.emailAddress.errors?.required">
                    Please enter email address .
                  </span>
            <span *ngIf="email.controls.emailAddress.errors?.email">
                    Please enter valid email.
                  </span>
            </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button (click)="addEmails()" [disabled]="!emails.valid" [title]="
                emails.valid
                  ? 'Add another Email address'
                  : 'Disabled until the existing email data is valid'
              " class="btn btn-outline-primary" type="button">
              Add Another Email
            </button>
          </div>

          <div class="col-md-4">
            <button (click)="removeItem()" *ngIf="emails.length > 1" class="btn btn-danger">
              Remove
            </button>
          </div>
        </div>

        <div formArrayName="phoneNumber">
          <div *ngFor="let phoneNumber of p; let i = index" [formGroupName]="i">
            <div class="form-group row mb-2">
              <div class="col-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="isPrimaryNumber"
                      id="isPrimaryNumberId"
                      type="checkbox"
                    />Is Primary Number
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0">Phone Number Type</label
              >
              <div class="col-md-4">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="phoneNumberType"
                      id="phoneNumberTypeId"
                      type="radio"
                      value="home"
                    />
                    office
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="phoneNumberType"
                      id="phoneNumberTypeId"
                      type="radio"
                      value="work"
                    />
                    Personal
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      formControlName="phoneNumberType"
                      id="phoneNumberTypeId"
                      type="radio"
                      value="other"
                    />
                    Other
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="phoneId">Country Code</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (phoneNumber.controls.countryCode.touched ||
                        phoneNumber.controls.countryCode.dirty) &&
                      !phoneNumber.controls.countryCode.valid
                  }"
                  class="form-control"
                  formControlName="countryCode"
                  id="countryCodeId"
                  placeholder="country Code"
                  type="number"
                />
                <span class="invalid-feedback">
                  <span
                    *ngIf="phoneNumber.controls.countryCode.errors?.required"
                  >
                    Please enter your country code.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="phoneId"
              >City Code</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (phoneNumber.controls.cityCode.touched ||
                        phoneNumber.controls.cityCode.dirty) &&
                      !phoneNumber.controls.cityCode.valid
                  }"
                  class="form-control"
                  formControlName="cityCode"
                  id="cityCodeId"
                  placeholder="country Code"
                  type="number"
                />
                <span class="invalid-feedback">
                  <span *ngIf="phoneNumber.controls.cityCode.errors?.required">
                    Please enter your city code.
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="phoneId"
              >Phone Number</label
              >
              <div class="col-md-4">
                <input
                  [ngClass]="{
                    'is-invalid':
                      (phoneNumber.controls.number.touched ||
                        phoneNumber.controls.number.dirty) &&
                      !phoneNumber.controls.number.valid
                  }"
                  class="form-control"
                  formControlName="number"
                  id="pnId"
                  placeholder="Phone"
                  type="number"
                />
                <span class="invalid-feedback">
                  <span *ngIf="phoneNumber.controls.number.errors?.required">
                    Please enter your phone number.
                  </span>
                  <span *ngIf="phoneNumber.controls.number.errors?.pattern">
                    Phone number must be digits.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button
              (click)="addPhoneNumbers()"
              [disabled]="!phoneNumbers.valid"
              [title]="
                phoneNumbers.valid
                  ? 'Add another PhoneNumber '
                  : 'Disabled until the existing phone data is valid'
              "
              class="btn btn-outline-primary"
              type="button"
            >
              Add Another PhoneNumber
            </button>
          </div>

          <div class="col-md-4">
            <button
              (click)="removephoneNumbers()"
              *ngIf="phoneNumbers.length > 1"
              class="btn btn-danger"
            >
              Remove
            </button>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button
              [disabled]="!customerForm.valid"
              [title]="
                customerForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
              class="btn btn-primary mr-3"
              style="width:80px"
              type="submit"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--
<br />Street: {{ addresses.get("0.street")?.value }}

<br />Dirty: {{ customerForm.dirty }} <br />Touched: {{ customerForm.touched }}
<br />
touched: {{ this.customerForm.get("email").get("0.emailAddress").touched }},
{{ this.customerForm.get("phoneNumber").get("0.number").touched }}
<br />Valid: {{ customerForm.valid }} -->
