.search-container {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    width: 50vw;
    margin: 0 auto;
    padding: 1rem;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.payeeSearchForm,
::placeholder {
    color: black !important;
}
