
<div class="custom">
<mat-card class="card">

<mat-toolbar >
  <a mat-button>
    <i class="material-icons orange">
      account_circle
    </i>
    My Payees
  </a>

  <a mat-button>
    <i class="material-icons orange">
      account_balance_wallet
    </i>
      Own Accounts
      & Pockets
  </a>

  <a mat-button color="white">
    <i class="material-icons orange">
      mobile_screen_share
    </i>
    Mobile(Via MMID)
  </a>
  <a mat-button>
    <i class="material-icons orange">
      public
    </i>
    Overseas Transfer
  </a>
  <a mat-button>
    <i class="material-icons orange">
      account_balance_wallet
    </i>
    Request Money from Overseas
  </a>
</mat-toolbar>
  <div class="space">
  <p>Doing a one time transfer?Use quick transfer upto 10000.No need to add a payee. <a href="Click Here" style="color:orange">Click Here</a></p>
  </div>
  <div class ="search">
  <button mat-raised-button
          matTooltip="Info about the action"
          aria-label="Button that displays a tooltip when focused or hovered over">
    <i class="material-icons orange">
      search
    </i>
    Search For Payee By Name, Account  or  Mobile Number
    <i class="material-icons orange">
      keyboard_arrow_down
    </i>
  </button>
    <div class="texts">
    <p style="color:orange" >OR</p>
    </div>
    <button mat-raised-button
            matTooltip="Info about the action"
            aria-label="Button that displays a tooltip when focused or hovered over">
      <i class="material-icons orange">
        add
      </i>
       Add New Payee
    </button>

</div>
</mat-card>
</div>

<div class =image>
  <img src = "../../assets/images/transfermoney.png">
  <div class="text">
  <p>No Transactions Yet</p>
  </div>
</div>


